<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
<main class="page-grid">

  <div class="grid-item column">
   <h1>North America</h1>
		<a href="https://chcmshop.com/" target="_blank">C'H'C'M'</a><br>
		<a href="https://tokentokentoken.nyc/" target="_blank">Token</a><br>
		<a href="https://www.bettergiftshop.com" target="_blank">Better Gift Shop</a><br>
  </div>
  
  
    <div class="grid-item column">
   	<h1>Asia</h1>
  		<a href="https://www.domicile.tokyo/" target="_blank">Domicile</a><br>
		<a href="http://min-nano.net/" target="_blank">Minnano</a><br>
		<a href="https://www.supply-tokyo.com/" target="_blank">Supply / Backdoor</a><br>
  		<a href="http://www.equipment-store.com/" target="_blank">Equipment</a><br>
		<a href="https://dlcs.jp/" target="_blank">Delicious</a><br>
		<a href="http://surpassinglife.com/" target="_blank">Slon Store</a><br>
		<a href="https://waitingroomtw.bigcartel.com/" target="_blank">Waiting Room</a><br>
  </div>
  
    <div class="grid-item column">
  <h1>Australia</h1>
  		<a href="https://lofistore.com.au/" target="_blank">Lo-Fi</a><br>
		<a href="https://www.supplystore.com.au/" target="_blank">Supply</a><br>
  </div>
  
    <div class="grid-item column">
 <h1>Europe</h1>
  		<a href="www.bluesstore.co" target="_blank">Blues</a><br>
		<p>Bankrupt</p>
		<a href="https://tomorrowstore.co.uk/" target="_blank">Tomorrow Store</a><br>
		<a href="https://www.supremenewyork.com/stores" target="_blank">Supreme London</a><br>
		<a href="https://www.supremenewyork.com/stores" target="_blank">Supreme Paris</a><br>
  </div>
  
</main>
      </div>
    </div>
  </div>
</div>
